Checks: >-
  clang-analyzer-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-use-concise-preprocessor-directives,
  -bugprone-easily-swappable-parameters,
  -bugprone-switch-missing-default-case,
  -bugprone-narrowing-conversions
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: none
