# Autotools generated
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
config.h
config.log
config.status
compile
config.guess
config.sub
depcomp
install-sh
missing
ltmain.sh
configure~
stamp-h1

# Build artifacts
src/discord2
discord2
*.o
*.lo
*.la
*.a
*.d
*.deps/
.libs/

# Local outputs
lint.txt
